
*{
    margin: 0;
    padding: 0;
}
/* common styles */

.primary-color{
    color: whitesmoke;
}

.box-margin{
    margin:0 200px  ;   
}



.color-button{
    background-color:  rgb(0, 255, 157);
}

/* Header styles */



/* navbar styles */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:50px 0;
}

.nav-item{
    text-decoration: none;
    color: rgb(237, 75, 75);
    margin-left: 20px;
}

/* Hero Styles */

.hero-content{
    display: flex;
    margin-right: 200px;

}
.hero-content img{
    width: 100%;
}


